# This file is for customizing the Docker environment which is used to develop
# Drush. If you are just using Drush to run commands, you may ignore this file
# and docker-compose.yml.
#
# Uncomment to change versions of php and DBs and OS
# POSTGRES_TAG=
# MARIADB_TAG=
# PHP_TAG=7.2-dev-macos
#
# UNISH_NO_TIMEOUTS=y
# Uncomment to run tests against a different DB. Defaults to mysql.
# UNISH_DB_URL=pgsql://unish:unish@postgres
# UNISH_DB_URL=sqlite://sut/sites/dev/files/.ht.sqlite
#
# XDebug defaults to Off in the php container.
# Uncomment to enable XDebug. See https://wodby.com/stacks/drupal/docs/local/xdebug/.
# When Xdebug first successfully connects back to PHPStorm, you are prompted to create a Server called unish
# Then you are prompted to add path mappings (its mandatory).
# PHP_XDEBUG=1
# PHP_XDEBUG_DEFAULT_ENABLE=1
# PHP_IDE_CONFIG=serverName=unish
# PHP_XDEBUG_REMOTE_HOST=host.docker.internal