# Configuration file for unit test runner at http://travis-ci.org/#!/drush-ops/drush
# whitelist
branches:
  only:
    - 8.x-6.x
    - 7.x-5.x
language: php
php:
  - 5.3
#  - 5.4
env:
  - UNISH_DB_URL=mysql://root:@127.0.0.1 PHPUNIT_ARGS=--group=make
  - UNISH_DB_URL=mysql://root:@127.0.0.1 PHPUNIT_ARGS=--group=base
  - UNISH_DB_URL=mysql://root:@127.0.0.1 PHPUNIT_ARGS=--group=commands
  - UNISH_DB_URL=mysql://root:@127.0.0.1 PHPUNIT_ARGS=--group=pm
  - UNISH_DB_URL=mysql://root:@127.0.0.1 PHPUNIT_ARGS=--group=quick-drupal
  - UNISH_DB_URL=mysql://root:@127.0.0.1 PHPUNIT_ARGS=--exclude-group=base,make,commands,pm,quick-drupal
#  - UNISH_DB_URL=sqlite://none/of/this/matters PHPUNIT_ARGS=--group=make
#  - UNISH_DB_URL=sqlite://none/of/this/matters PHPUNIT_ARGS=--group=base
#  - UNISH_DB_URL=sqlite://none/of/this/matters PHPUNIT_ARGS=--group=commands
#  - UNISH_DB_URL=sqlite://none/of/this/matters PHPUNIT_ARGS=--group=pm
#  - UNISH_DB_URL=sqlite://none/of/this/matters PHPUNIT_ARGS=--group=quick-drupal
#  - UNISH_DB_URL=sqlite://none/of/this/matters PHPUNIT_ARGS=--exclude-group=base,make,commands,pm,quick-drupal
  - UNISH_DB_URL=pgsql://postgres:@localhost PHPUNIT_ARGS=--group=make
  - UNISH_DB_URL=pgsql://postgres:@localhost PHPUNIT_ARGS=--group=base
  - UNISH_DB_URL=pgsql://postgres:@localhost PHPUNIT_ARGS=--group=commands
  - UNISH_DB_URL=pgsql://postgres:@localhost PHPUNIT_ARGS=--group=pm
  - UNISH_DB_URL=pgsql://postgres:@localhost PHPUNIT_ARGS=--group=quick-drupal
  - UNISH_DB_URL=pgsql://postgres:@localhost PHPUNIT_ARGS=--exclude-group=base,make,commands,pm,quick-drupal
before_script:
  - echo "sendmail_path='true'" >> `php --ini | grep "Loaded Configuration" | awk '{print $4}'`; export UNISH_DRUSH="${PWD}/drush" && cd tests
script: phpunit $PHPUNIT_ARGS
