# Configuration file for unit test runner at http://travis-ci.org/#!/drush-ops/drush
branches:
  only:
    - master
    - 8.x
    - 7.x
    - 6.x
    - 5.x
    - /^[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+.*$/
language: php

services:
  - mysql

# Cache Composer & Unish directories.
cache:
  directories:
    - $HOME/.composer/cache
    - /tmp/unish

# http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
sudo: false

env:
  global:
    # Github deploy
    - secure: VfYokT2CchfuBRJp9/gSwfVGPfsVfkZdDVEuNWEqxww3z4vq+5aLKqoCtPL54E5EIMjhyCE3GVo+biG35Gab1KOVgUs8zD1hAUWA1FPKfMFhoPDfI3ZJC2rX2T1iWK4ZR90pBtcPzS+2OObzTYz8go0PfeSTT6eq69Na1KcNLaE=
    - UNISH_NO_TIMEOUTS=y
    - UNISH_DB_URL=mysql://root:@127.0.0.1

matrix:
  include:
    # D8.7.x
    - php: 7.0
      env: 'UNISH_DRUPAL_MAJOR_VERSION=8 UNISH_DRUPAL_MINOR_VERSION=7.3'

    # D8.6.x
    - php: 7.0
      env: 'UNISH_DRUPAL_MAJOR_VERSION=8 UNISH_DRUPAL_MINOR_VERSION=6.17'

    # D8.5.x
    - php: 7.0
      env: 'UNISH_DRUPAL_MAJOR_VERSION=8 UNISH_DRUPAL_MINOR_VERSION=5.15'

    # D8.4.x
    - php: 7.0
      env: 'UNISH_DRUPAL_MAJOR_VERSION=8 UNISH_DRUPAL_MINOR_VERSION=4.8 PHPUNIT_ARGS=--group=commands'

    # D8.3.x
    - php: 7.0
      env: 'UNISH_DRUPAL_MAJOR_VERSION=8 UNISH_DRUPAL_MINOR_VERSION=3.9 PHPUNIT_ARGS=--group=commands'

    # D8.2.x
    - php: 7.0
      env: 'UNISH_DRUPAL_MAJOR_VERSION=8 UNISH_DRUPAL_MINOR_VERSION=2.8 PHPUNIT_ARGS=--group=commands'

    # D7
    - php: 7.0
      env: 'UNISH_DRUPAL_MAJOR_VERSION=7'

    # D7
    - php: 5.6
      env: 'UNISH_DRUPAL_MAJOR_VERSION=7'

    # D6
    - php: 7.0
      env: 'UNISH_DRUPAL_MAJOR_VERSION=6'

    # D6
    - php: 5.6
      env: 'UNISH_DRUPAL_MAJOR_VERSION=6'

before_install:
  - echo 'mbstring.http_input = pass' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'mbstring.http_output = pass' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - travis_retry composer selfupdate

install: travis_retry composer install --no-interaction

before_script:
  - phpenv config-rm xdebug.ini
  - echo 'sendmail_path = /bin/true' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # - echo "sendmail_path='true'" >> `php --ini | grep "Loaded Configuration" | awk '{print $4}'`
  - export UNISH_DRUSH="${PWD}/drush"

script: ${PWD}/unish.sh $PHPUNIT_ARGS

# Background: https://github.com/drush-ops/drush/pull/1426
after_success: ${PWD}/tests/testChildren.sh

before_deploy:
  - gem install mime-types -v 2.6.2 # https://github.com/travis-ci/travis-ci/issues/5145
  - curl -LSs https://box-project.github.io/box2/installer.php | php
  - composer install --prefer-dist --no-dev --optimize-autoloader --no-interaction
  - php box.phar build
  - test $TRAVIS_TAG=true && mkdir s3-stable && cp drush.phar s3-stable/drush.phar
  - test $TRAVIS_BRANCH=master && mkdir s3-unstable && cp drush.phar s3-unstable/drush-unstable.phar
deploy:
  # http://docs.travis-ci.com/user/deployment/releases/
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: vRtKwJNzm+FXS5VCsaCu5YM4IS02tAdqV4G557HEyVzNgRmSgPWkaHDR/95TnXtZRjmxuTI++rccEj9+jzjknQ9LWkWhl13WiJdZYobnb240f9Ja8g0gs6/r+EEZG2+DTTerK9zicpf51h5hUaE46zObHjSmzIuGxZBO1syDld8=
    file: drush.phar
    on:
     tags: true
     repo: drush-ops/drush
     all_branches: true
