{
  "alias": "drush.phar",
  "chmod": "0755",
  "compactors": [],
  "compression": "GZ",
  "directories": ["commands", "includes", "lib", "src", "misc"],
  "blacklist": [
    "windrush_build/",
    "TestTraits/"
  ],
  "files": ["drush.complete.sh", "drush.info", "drush.launcher", "drush.php"],
  "finder": [
    {
      "name": ["*.php", "*.php8"],
      "exclude": [
        "examples",
        "isolation",
        "phing",
        "test",
        "tests",
        "test_old",
        "Test",
        "Tests",
        "Tester"
      ],
      "in": "vendor"
    }
  ],
  "git-commit": "git-commit",
  "git-version": "git-version",
  "output": "drush.phar",
  "main": "drush",
  "stub": true
}
