parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Drupal\\\\migrate\\\\Plugin\\\\MigrationInterface\\:\\:set\\(\\)\\.$#"
			count: 1
			path: src/Commands/core/MigrateRunnerCommands.php
