parameters:
    level: 0
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - src
    drupal:
        drupal_root: sut
    excludePaths:
        # Deliberately calls ptional external code.
        - src/Psysh/Caster.php
    ignoreErrors:
        # XHprof
        - '#tideways_xhprof_enable#'
        - '#tideways_xhprof_disable#'
includes:
    - vendor/mglaman/phpstan-drupal/extension.neon
