<!-- Copy and rename to phpunit.xml. Customize as needed. -->
<phpunit bootstrap="drush_testcase.inc">
  <php>
    <const name="UNISH_DRUSH" value="/Users/mw/c/h/drush/drush"/>
    <const name="UNISH_DB_URL" value="mysql://root:@127.0.0.1"/>
    <const name="UNISH_SANDBOX" value="/Users/mw/drush-sandbox"/>
  </php>
</phpunit>