<!-- Copy and rename to phpunit.xml. Customize as needed. -->
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    syntaxCheck="false"
    bootstrap="drush_testcase.inc">
  <php>
    <!--DB User must have create/drop permissons-->
    <var name="UNISH_DB_URL" value="mysql://root:@127.0.0.1"/>

    <!--User must have write permissions to this directory.-->
    <var name="UNISH_SANDBOX" value="/tmp/drush-sandbox"/>

    <!--Uncomment the line below if your path to drush differs from `which drush`. Use absolute path.-->
    <!--<var name="UNISH_DRUSH" value="/Users/mw/bin/drush"/>-->

    <includePath>.</includePath>
  </php>
</phpunit>