<!--
      This is the phpunit configuration file for the functional tests.
      For the unit tests configuration, see the phpunit.xml.dist file
      at the root of the project.

      Copy and rename this file to phpunit.xml to customize.

      The variables shown below must usually be defined in order to run the
      functional tests. They may be set by customizing this file, or they may
      be defined as environment variables. Alternately, you may run the
      tests without defining these variables if you use the default values.
-->
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    syntaxCheck="false"
    colors="true">
  <testsuites>
    <testsuite name="Drush Test Suite">
      <directory>.</directory>
    </testsuite>
  </testsuites>

  <php>
    <!-- These variables may alternatively be set as environment variables. -->

    <!--Uncomment and edit one of the lines below depending on DB platform.-->
    <!--DB User must have create/drop permissions-->
    <!-- <var name="UNISH_DB_URL" value="mysql://root:@127.0.0.1"/> -->
    <!-- <var name="UNISH_DB_URL" value="pgsql://postgres:@localhost"/>-->
    <!-- <var name="UNISH_DB_URL" value="sqlite://none/of/this/matters"/> -->

    <!-- Uncomment to disable the total runtime and output timeouts for commands run through CommandUnishTestCase::execute().  -->
    <!-- <env name="UNISH_NO_TIMEOUTS" value="y"/> -->

    <includePath>.</includePath>
  </php>
</phpunit>
