<!-- Copy and rename to phpunit.xml. Customize as needed. -->
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    syntaxCheck="false"
    colors="true">
  <testsuites>
    <testsuite name="Drush Test Suite">
      <directory>.</directory>
    </testsuite>
  </testsuites>

  <php>
    <!-- These variables may alternatively be set as environment variables. -->

    <!--Uncomment and edit one of the lines below depending on DB platform.-->
    <!--DB User must have create/drop permissions-->
    <!-- <var name="UNISH_DB_URL" value="mysql://root:@127.0.0.1"/> -->
    <!-- <var name="UNISH_DB_URL" value="pgsql://postgres:@localhost"/>-->
    <!-- <var name="UNISH_DB_URL" value="sqlite://none/of/this/matters"/> -->

    <!-- Uncomment to disable the total runtime and output timeouts for commands run through CommandUnishTestCase::execute().  -->
    <!-- <env name="UNISH_NO_TIMEOUTS" value="y"/> -->

    <includePath>.</includePath>
  </php>
</phpunit>
