# https://circleci.com/docs/2.0/workflows/#using-workspaces-to-share-data-among-jobs
defaults: &defaults
  working_directory: ~/drush
  resource_class: large
  environment:
    TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    TERM: dumb
    SYMFONY_DEPRECATIONS_HELPER: disabled
    PHPUNIT_ARGS: ""
    PHP_SENDMAIL_PATH: /dev/null

requires: &requires
  requires:
    - check_mergable
    - code_style

test_81_steps: &test81steps
  steps:
    - checkout
    - run: cp .docker/zz-php.ini /usr/local/etc/php/conf.d/
    - run: mkdir -p /tmp/results
    - run: composer -n install
    - run: composer -n lint
    - run: composer -n unit -- --log-junit /tmp/results/unit.junit.xml
    - run: composer -n functional -- --log-junit /tmp/results/functional.junit.xml
    # @todo was getting missing key_value table failure when this comes before functional. See https://circleci.com/gh/drush-ops/drush/8828.
    - run: composer -n integration -- --log-junit /tmp/results/integration.junit.xml
    - store_test_results:
        path: /tmp/results
    - store_artifacts:
        path: /tmp/results

version: 2.1
jobs:
  # Code style test:
  #   FAIL if code does not conform to code style conventions
  #   PASS otherwise
  code_style:
    <<: *defaults
    docker:
      - image: wodby/php:8.1
    steps:
      - checkout
      - run: cp .docker/zz-php.ini /usr/local/etc/php/conf.d/
      - run: composer -n install
      - run: composer -n cs

  # Mergeable test:
  #   FAIL if merging test branch with 11.x produces conflicts
  #   PASS if the test branch is out of date, but mergeable without conflicts
  check_mergable:
    <<: *defaults
    docker:
      - image: cimg/base:2022.09
    steps:
      - checkout
      - run: $HOME/drush/.circleci/mergable.sh

  test_81_drupal10_mysql:
    <<: *defaults
    docker:
      - image: wodby/php:8.1
        environment:
          - MYSQL_HOST=127.0.0.1
          - UNISH_DB_URL=mysql://root:@127.0.0.1
      - image: cimg/mysql:5.7.38
    <<: *test81steps

  test_81_drupal10_sqlite:
    <<: *defaults
    docker:
      - image: wodby/php:8.1
        environment:
          - "UNISH_DB_URL=sqlite://:memory:"
    <<: *test81steps

  test_81_drupal10_postgres:
    <<: *defaults
    docker:
      - image: wodby/php:8.1
        environment:
          - UNISH_DB_URL=pgsql://unish:unish@127.0.0.1
      - image: wodby/postgres:14
        environment:
          POSTGRES_DB_EXTENSIONS: pg_trgm
          POSTGRES_PASSWORD: unish
          POSTGRES_DB: unish_dev
          POSTGRES_USER: unish
    <<: *test81steps

  # Drupal 9.2.8 for Security test coverage for drupal/core
#  test_80_drupal92_security:
#    <<: *defaults
#    docker:
#      - image: wodby/php:8.0
#        environment:
#          - MYSQL_HOST=127.0.0.1
#          - UNISH_DB_URL=mysql://root:@127.0.0.1
#      - image: cimg/mysql:5.7.38
#    steps:
#      - checkout
#      - run: cp .docker/zz-php.ini /usr/local/etc/php/conf.d/
#      - run: composer -n require --dev drupal/core-recommended:9.2.8 --no-update
#      - run: php --version
#      - run: composer -n update
#      - run: composer -n phpunit -- --testsuite integration --filter=testInsecureDrupalPackage --stop-on-skipped

  # PHP tip test with Drupal 10 tip
  #   Determines whether a newer version of a dependency has broken Drush.
  test_8x_drupal10_highest:
    <<: *defaults
    docker:
      - image: wodby/php:latest
        environment:
          - MYSQL_HOST=127.0.0.1
          - UNISH_DB_URL=mysql://root:@127.0.0.1
      - image: cimg/mysql:5.7.38
    steps:
      - checkout
      - run: cp .docker/zz-php.ini /usr/local/etc/php/conf.d/
      - run: php --version
      - run: composer -n config platform.php --unset
      - run: composer -n require --dev drupal/core-recommended:10.0.x-dev --no-update
      - run: composer -n update
      - run: composer -n show
      - run: mkdir -p /tmp/results
      - run: composer -n lint
      - run: composer -n unit -- --log-junit /tmp/results/unit.junit.xml
      - run: composer -n functional -- --log-junit /tmp/results/functional.junit.xml
      - run: composer -n integration -- --log-junit /tmp/results/integration.junit.xml
      - store_test_results:
          path: /tmp/results
      - store_artifacts:
          path: /tmp/results
      - store_artifacts:
          path: .

workflows:
  version: 2
  drush:
    jobs:
      - code_style
      - check_mergable
#      - test_80_drupal92_security:
#          <<: *requires
      - test_81_drupal10_mysql:
          <<: *requires
      - test_8x_drupal10_highest:
          <<: *requires
      - test_81_drupal10_sqlite:
          <<: *requires
      - test_81_drupal10_postgres:
          <<: *requires
