# https://circleci.com/docs/2.0/workflows/#using-workspaces-to-share-data-among-jobs
defaults: &defaults
  working_directory: ~/drush
  resource_class: large
  environment:
    TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    TERM: dumb
    SYMFONY_DEPRECATIONS_HELPER: disabled
    PHPUNIT_ARGS: ""
    PHP_SENDMAIL_PATH: /dev/null

requires: &requires
  requires:
    - check_mergable
    - code_style

post_steps: &poststeps
  post-steps:
    - store_test_results:
        path: /tmp/results
    - store_artifacts:
        path: /tmp/results

executors:
  mysql-stable:
    docker:
      - image: wodby/php:8.1
        environment:
          - MYSQL_HOST=127.0.0.1
          - UNISH_DB_URL=mysql://root:@127.0.0.1
      - image: cimg/mysql:5.7.38
  sqlite-stable:
    docker:
      - image: wodby/php:8.1
        environment:
          - "UNISH_DB_URL=sqlite://:memory:"
  sqlite-highest:
    docker:
      - image: wodby/php:latest
        environment:
          - "UNISH_DB_URL=sqlite://:memory:"
  postgres-stable:
    docker:
      - image: wodby/php:8.1
        environment:
          - UNISH_DB_URL=pgsql://unish:unish@127.0.0.1
      - image: wodby/postgres:14
        environment:
          POSTGRES_DB_EXTENSIONS: pg_trgm
          POSTGRES_PASSWORD: unish
          POSTGRES_DB: unish_dev
          POSTGRES_USER: unish

version: 2.1
jobs:
  # Code style test:
  #   FAIL if code does not conform to code style conventions
  #   PASS otherwise
  code_style:
    <<: *defaults
    docker:
      - image: wodby/php:8.1
    steps:
      - checkout
      - run: cp .docker/zz-php.ini /usr/local/etc/php/conf.d/
      - run: composer -n validate --no-check-all
      - run: composer -n install
      - run: composer -n cs

  # Mergeable test:
  #   FAIL if merging test branch with 12.x produces conflicts
  #   PASS if the test branch is out of date, but mergeable without conflicts
  check_mergable:
    <<: *defaults
    docker:
      - image: cimg/base:2022.09
    steps:
      - checkout
      - run: $HOME/drush/.circleci/mergable.sh

  test:
    parameters:
      dbms:
        type: string
      suite:
        type: string
      release:
        type: string
    <<: *defaults
    executor: << parameters.dbms >>-<< parameters.release >>
    steps:
      - checkout
      - run: cp .docker/zz-php.ini /usr/local/etc/php/conf.d/
      - run: mkdir -p /tmp/results
      - when:
          condition:
            and:
              - equal: [ stable, << parameters.release >> ] 
          steps:
            - run: composer -n install
      - unless:
          condition:
            and:
              - equal: [ stable, << parameters.release >> ] 
          steps:
            - run: composer -n config platform.php --unset
            - run: composer -n require --dev drupal/core-recommended:10.1.x-dev --no-update
            - run: composer -n update
      # Used by runserver at this time.
      - run: echo 127.0.0.1 devhost | sudo tee -a /etc/hosts
      - run: composer -n unit -- --log-junit /tmp/results/unit/junit.xml
      - run: composer -n << parameters.suite >> -- --log-junit /tmp/results/<< parameters.suite >>/junit.xml

  # Drupal 9.2.8 for Security test coverage for drupal/core
#  test_80_drupal92_security:
#    <<: *defaults
#    docker:
#      - image: wodby/php:8.0
#        environment:
#          - MYSQL_HOST=127.0.0.1
#          - UNISH_DB_URL=mysql://root:@127.0.0.1
#      - image: cimg/mysql:5.7.38
#    steps:
#      - checkout
#      - run: cp .docker/zz-php.ini /usr/local/etc/php/conf.d/
#      - run: composer -n require --dev drupal/core-recommended:9.2.8 --no-update
#      - run: php --version
#      - run: composer -n update
#      - run: composer -n phpunit -- --testsuite integration --filter=testInsecureDrupalPackage --stop-on-skipped

workflows:
  drush:
    jobs:
      - code_style
      - check_mergable
#      - test_80_drupal92_security:
#          <<: *requires
      - test:
          <<: *requires
          <<: *poststeps
          matrix:
            parameters:
              dbms: [sqlite, mysql, postgres]
              suite: [integration, functional]
              release: [stable, highest]
            exclude:
              # Only run highest test on sqlite. Excluding each suite is unfortnate but needed.
              - release: highest
                dbms: mysql
                suite: integration
              - release: highest
                dbms: mysql
                suite: functional
              - release: highest
                dbms: postgres
                suite: integration
              - release: highest
                dbms: postgres
                suite: functional  

