#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	cp -r $(CURDIR)/commands $(CURDIR)/includes $(CURDIR)/debian/drush/usr/share/drush
	# trash the .gitignore file that generates lintian warnings
	# there's got to be a better way
	rm $(CURDIR)/debian/drush/usr/share/drush/includes/.gitignore
	cp $(CURDIR)/drush.php $(CURDIR)/debian/drush/usr/share/drush/
	cp $(CURDIR)/drush.info $(CURDIR)/debian/drush/usr/share/drush/
	chmod a+x $(CURDIR)/debian/drush/usr/share/drush/drush.php
	ln -s /usr/share/drush/drush.php $(CURDIR)/debian/drush/usr/bin/drush

release: 
	git-buildpackage --release

snapshot: 
	git-buildpackage --snapshot

# this builds a debian package based on what the current branches are
# this usually tests the latest release
jenkins-build-official:
	git-buildpackage -b --git-upstream-branch=origin/upstream --git-debian-branch=origin/debian --git-ignore-branch -kjenkins@ci.aegirproject.org

# the upstream version: strip the 6.x and turn the appendix into
# +N.foo where N is the number of commits since last tag and foo is
# the hash
upstream_version=$(shell git describe --tags origin/6.x-1.x | sed 's/6.x-//;s/-\([0-9]*\)-\([^-]*\)$$/+\1.\2/')
# the debian version, strip the debian/ part of the tag and the
# upstream version number, keep just the debian part, replacing as
# above for the N.foo part
debian_version=$(shell git describe --tags origin/debian | sed "s/debian\///;s/-\([0-9]*\)-\([^-]*\)$$/+\1.\2/;s/^.*-//" )

# this builds a debian package but first updates the branches to follow the latest 1.x branch
# this assumes you are on a "debian" branch (of course)
jenkins-build-auto:
	git merge origin/6.x-1.x
	dch -v ${upstream_version}-${debian_version} "automatic jenkins build ${BUILD_TAG}"
	git commit -m"dummy commit for $version autobuild" debian/changelog
	git-buildpackage -b --git-upstream-branch=origin/6.x-1.x -kjenkins@ci.aegirproject.org

show-version:
	@echo ${upstream_version}-${debian_version}
