#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp  
	dh_testdir
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	cp -r $(CURDIR)/commands $(CURDIR)/includes $(CURDIR)/debian/drush/usr/share/drush
	# trash the .gitignore file that generates lintian warnings
	# there's got to be a better way
	rm $(CURDIR)/debian/drush/usr/share/drush/includes/.gitignore
	cp $(CURDIR)/drush.php $(CURDIR)/debian/drush/usr/share/drush/
	cp $(CURDIR)/drush.info $(CURDIR)/debian/drush/usr/share/drush/
	chmod a+x $(CURDIR)/debian/drush/usr/share/drush/drush.php
	ln -s /usr/share/drush/drush.php $(CURDIR)/debian/drush/usr/bin/drush


# Build architecture-dependent files here.
binary-arch: build install
# Nothing to do here, we're Arch: all

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

release: 
	git-buildpackage --release

snapshot: 
	git-buildpackage --snapshot
