name: drush
type: php
docroot: sut
php_version: "8.1"
webserver_type: nginx-fpm
router_http_port: "87"
router_https_port: "444"
xdebug_enabled: false
additional_hostnames: []
additional_fqdns: []
mariadb_version: "10.5"
mysql_version: ""
nfs_mount_enabled: false
mutagen_enabled: false
use_dns_when_possible: true
composer_version: ""
disable_settings_management: true
webimage_extra_packages:
  - bash-completion
web_environment:
  - UNISH_DB_URL=mysql://root:root@db
#  - "UNISH_DB_URL=sqlite://:memory:"
#  - UNISH_DB_URL=pgsql://postgres:@localhost
  - DRUSH_OPTIONS_URI=$DDEV_PRIMARY_URL
